<section class="carousel">
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="carousel-content">
                    <div class="carousel-text">
                        <h2>Exclusive Real Estate Opportunities</h2>
                        <p>Gain access to a curated portfolio of premium real estate assets.</p>
                        <a href="/listing" class="explore-link">Explore our property portfolio</a>
                    </div>
                    <div class="carousel-image" style="background-image: url('/Assets/benefits_1.png');"></div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-content">
                    <div class="carousel-text">
                        <h2>Diverse Investment Options</h2>
                        <p>Discover a wide range of investment opportunities tailored to your financial goals.</p>
                        <a href="/listing" class="explore-link">View investment options</a>
                    </div>
                    <div class="carousel-image" style="background-image: url('/Assets/benefits_2.png');"></div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-content">
                    <div class="carousel-text">
                        <h2>Expert Market Insights</h2>
                        <p>Stay informed with our team of real estate professionals providing in-depth market analysis and trends.</p>
                        <a href="/listing" class="explore-link">Read our latest insights</a>
                    </div>
                    <div class="carousel-image" style="background-image: url('Assets/benefits_3.png');"></div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</section>
