<footer class="footer">
    <div class="footer-content">
        <div class="footer-logo">
            <div class="footer-name">
                <img src="/Assets/logo.svg" alt="InvEstate Logo">
                <img src="/Assets/logo_name.png" alt="InvEstate Logo">
            </div>
            <p style="font-size: 20px;font-weight: 700;">An online real estate investing platform</p>
            <div class="copyright">
                <p>&copy; 2024 InvEstate. All Rights Reserved.</p>
            </div>
        </div>
        <div class="footer-links">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Investments</a></li>
                <li><a href="#">How It Works</a></li>
                <li><a href="#">Pricing</a></li>
                <li><a href="#">About Us</a></li>
            </ul>
        </div>
        <div class="footer-links">
            <ul>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Terms & Conditions</a></li>
                <li><a href="#">Privacy Policy</a></li>
            </ul>
        </div>
        <div class="footer-links">
            <h4>Social Media</h4>   
            <div class="social-media">
                <div class="social-media-icon">
                    <img src="/Assets/facebook.svg" alt="">
                    <a href="#" aria-label="Facebook"><i class="fab fa-facebook"></i> Facebook</a><br>
                </div>
                <div class="social-media-icon">
                    <img src="/Assets/linkedin.svg" alt="">
                    <a href="#" aria-label="linkedin"><i class="fab fa-facebook"></i> LinkedIn</a><br>
                </div>
                <div class="social-media-icon">
                    <img src="/Assets/twitter.svg" alt="">
                    <a href="#" aria-label="twitter"><i class="fab fa-facebook"></i> Twitter</a><br>
                </div>
                <div class="social-media-icon">
                    <img src="/Assets/instagram.svg" alt="">
                    <a href="#" aria-label="instagram"><i class="fab fa-facebook"></i> Instagram</a><br>
                </div>
            </div>
        </div>
    </div>
</footer>
