<div style="padding: 5rem 0rem;">
<div style="display: flex; justify-content: space-between;padding:0 10rem; padding-bottom: 1rem;">
    <h1 style="margin: auto 0;">Hello, <%= user.name %></h1>
    <a href="/logout" class="sign-up-btn" style="margin: auto 0;">Log out</a>
</div>

<%- include('partials/portfolio') %>
</div>